/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 3% 0;
}

@keyframes colorChange{
    from{ background-image: linear-gradient(red, yellow);}
    to {background-image: linear-gradient(yellow, white);}
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    vertical-align: baseline;
    flex-direction: row;
    width: 80%;
    background: white;
    animation-name: colorChange;
    animation-duration: 4s;
}

nav a{
    color: black;
    text-decoration: none;
}

nav a:hover{
    color: red;
    text-decoration: underline;
    transform: scale(1.5,1.5);
}

.topImg{
    margin-bottom: 3%;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;

}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes .box:first-child{
    background: teal;
}

.boxes .box:nth-child(2){
    background: gold;
}

.boxes .box:nth-child(3){
    background: cadetblue;
}

.boxes .box:nth-child(4){
    background: coral;
}

.boxes .box:nth-child(5){
    background: crimson;
}

.boxes .box:nth-child(6){
    background: forestgreen;
}

.boxes .box:nth-child(7){
    background: darkorchid;
}

.boxes .box:nth-child(8){
    background: hotpink;
}

.boxes .box:nth-child(9){
    background: indigo;
}

.boxes .box:nth-child(10){
    background: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

.aboutTop{
    margin: 2%;
    padding-bottom: 3%;
    border-bottom: 1px dashed black;
}

.aboutBoxes{
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.aboutContent{
    width: 46%;
    margin: 2%;
    padding-bottom: 4%;
    border-bottom: 1px dashed black;
}

.aboutContent img{
    margin-bottom: 2%;
}

.aboutContent button{
    border: 2px solid black;
    border-radius: 30px;
    background: white;
    width: 50%;
    height: 10%;
}

.aboutContent p{
    padding: 2% 0;
}

.aboutTogether{
    padding: 2%;
    margin-left: 2%;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 2%;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2%;
    margin-bottom: 4%;
    resize: vertical;
}

input[type=submit]{
    border: 1px solid black;
    background: white;
    width: 15%;
}

input[type=submit]:hover{
    background: gray;
}

.contactImg{
    text-align: center;
    border: 2px solid black;
    background: lightgray;
    margin-bottom: 3%;
}

.contactContent{
    border-bottom: 1px dashed black;
    padding-bottom: 2%;
}

.contactForm{
    padding-top: 3%;
}

.productsTop{
    padding: 3% 0;
}
.productBox{
    display: flex;
    flex-wrap: wrap;
}

.productContent{
    width: 45%;
    border: 1px solid black;
    background: lightgray;
    margin: 2%;
    padding: 2%;
}

.productContent p{
    padding-bottom: 2%;
}
